<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<string>com.wincommander.App</string>
	<key>Label</key>
	<string>com.wincommander.App.PrivilegedIOHelperV2</string>
	<key>RunAtLoad</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>com.wincommander.App.PrivilegedIOHelperV2</key>
		<true/>
	</dict>
</dict>
</plist>
